@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Electronics Store</h1>

</div>
<!-- Gallery -->
<div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img src="https://images.unsplash.com/photo-1585155770447-2f66e2a397b5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGFwcGxlJTIwcHJvZHVjdHN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="" />
        <img src="https://images.unsplash.com/photo-1621501473804-cda119b38378?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1049&q=80"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="" />
        <img src="https://images.unsplash.com/photo-1561154464-82e9adf32764?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="" />

    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img src="https://images.unsplash.com/photo-1575399545768-5f1840c1312d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=701&q=80"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="" />

        <img src="https://images.unsplash.com/photo-1563253746-350a0a877afa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDR8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=700&q=60"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="" />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img src="https://images.unsplash.com/photo-1609941544669-285ca0897c98?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8aXBob25lJTIwMTJ8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="" />
        <img src="https://images.unsplash.com/photo-1588200908342-23b585c03e26?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzF8fGFwcGxlJTIwcHJvZHVjdHN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="" />


    </div>
</div>
<!-- Gallery -->
